.about {
    // background-image: url(../images/About.jpg);
    background-color: #181818;
    background-repeat: no-repeat;
    background-position: top right;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
    // height: 100vh;
}
.about-box {
    display: flex;
}

.aboutme {
    padding-left: 25px;
}
.photo-about {
    display: none;
    // width: 250px;
  @media screen and (min-width: 780px) {
    // position: absolute;
    // right: 0;
    display: flex;
    top: 32px;
    width: 250px;
  }
  @media screen and (min-width: 1400px) {
    top: 0;
    // right: 0;
  }
}
.title-about {
    font-family: 'DM Sans';
    font-weight: 900;
    font-size: 30px;
    line-height: 1.65;
    // padding-left: 15px;
    // text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

.main-text {
    font-family: 'DM Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    padding-bottom: 20px;
    // padding-left: 15px;
}

.history-text {
    font-family: 'DM Sans';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;

    color: #fff;
    padding-bottom: 20px;
}

.end-history-text {
    font-family: 'DM Sans';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;

    color: #fff;
    padding-bottom: 40px;
}


.introdution__list,
.contacts-with-me__list {
    margin-bottom: 30px;
}



.introdution__item,
.contacts-with-me__item,
.what-can__item {
    font-family: 'DM Sans';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;

    color: #fff;
}

.head-title-about {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #484848;
    padding-bottom: 15px;
}

.wrapper-about {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
}