<section class="about" id="about">
  <div class="wrapper">
    <div class="about-box">
    <!-- <img class="photo-about" src="./images/myfoto.jpg" alt="my photo"> -->

      <picture>
        <source srcset="./images/myfoto.jpg 1188w 2376w"
            media="(min-width: 1400px)" sizes="(min-width: 1400px) 1188px" />
        <source srcset="./images/myfoto.jpg 993w 1986w"
            media="(min-width: 780px)" sizes="(min-width: 780px) 880px" />
        <source srcset="./images/myfoto.jpg 360w 720w"
            media="(min-width: 320px)" sizes="(min-width: 320px) 360px" />
        <img class="photo-about" src="./images/myfoto.jpg" alt="my photo">
      </picture>
      <div class="aboutme">
        <p class="title__span">ABOUT ME</p>
    <h2 class="title-about">
      Who Am I
    </h2>
    <p class="main-text">I am completing a 10 month full stack developer course. During my studies, I mastered HTML, CSS (SASS), JavaScript. Now I'm learning React and stayed with Node.js. I'm looking for a job as an intern/junior front-end developer or full-stack developer.</p>
  <a href="https://drive.google.com/file/d/17ZJJJR8Wp5ALT00fbTvqcb2l4SUMrSzy/view" target="_blank" class="resume-btn">
      <p class="resume-btn__text">DOWNLOAD CV</p>
        <!-- <svg width="46" height="46" aria-label="resume"><use class="resume-btn__icon" href="./images/icons.svg#icon-file-document"></use></svg> -->
     </a>    
  </div>
  </div>
    <!-- <div class="wrapper-about">
        <div>
            <ul class="introdution__list">
              <li class="introdution__item head-title-about">
                Hello, my Name is Rustem
              </li>
              <li class="introdution__item">
                🔭 I’m currently working on a lot of different stuff
              </li>
              <li class="introdution__item">
                🌱 I’m currently learning everything I can get my hands on
              </li>
              <li class="introdution__item">⚡ Fun fact: I love what I do</li>
            </ul>
            <ul class="contacts-with-me__list">
              <li class="contacts-with-me__item head-title-about">
                Contacts with me:
              </li>
              <li class="contacts-with-me__item">
                ☏ +38 068 578 17 14 (Viber, WhatsApp, Telegram, Wechat)
              </li>
              <li class="contacts-with-me__item">
                📫 How to reach me: dzhuraievrustem@gmail.com
              </li>
            </ul>

        </div>
          <div>
            <ul class="what-can__list">
              <li class="what-can__item head-title-about">What I can:</li>
              <li class="what-can__item">
                ✔ HTML5/CSS/SASS
              </li>
              <li class="what-can__item">
                ✔ Responsive/ Adaptive layout
              </li>
              <li class="what-can__item">
                ✔ JavaScript
              </li>
              <li class="what-can__item">✔ REST API </li>
              <li class="what-can__item">
                ✔ AJAX
              </li>
              <li class="what-can__item">
                ✔ React/Redux-Toolkit
              </li>
              <li class="what-can__item">
                ✔ React Native
              </li>
              <li class="what-can__item">
                ✔ Material UI
              </li>
              <li class="what-can__item">✔ FIREBASE </li>
              <li class="what-can__item">
                ✔ Webpack/Parcel
              </li>
              <li class="what-can__item">
                ✔ Git/GitHub
              </li>
              <li class="what-can__item">
                ✔ ESlint/Prettier
              </li>
            </ul>
          </div>
    </div> -->
    
  </div>
</section>