<section class="about" id="about">
  <div class="wrapper">
    <div class="about-box">
    <!-- <img class="photo-about" src="./images/myfoto.jpg" alt="my photo"> -->

      <picture>
        <source srcset="./images/myfoto.jpg 1188w 2376w"
            media="(min-width: 1400px)" sizes="(min-width: 1400px) 1188px" />
        <source srcset="./images/myfoto.jpg 993w 1986w"
            media="(min-width: 780px)" sizes="(min-width: 780px) 880px" />
        <source srcset="./images/myfoto.jpg 360w 720w"
            media="(min-width: 320px)" sizes="(min-width: 320px) 360px" />
        <img class="photo-about" src="./images/myfoto.jpg" alt="my photo">
      </picture>
      <div class="aboutme">
        <p class="title__span">ABOUT ME</p>
    <h2 class="title-about">
      Who Am I
    </h2>
    <p class="main-text">I am completing a 10 month full stack developer course. During my studies, I mastered HTML, CSS (SASS), JavaScript. Now I'm learning React and stayed with Node.js. I'm looking for a job as an intern/junior front-end developer. I am looking forward to get my first offer during my studies.</p>
  <a href="https://drive.google.com/file/d/17ZJJJR8Wp5ALT00fbTvqcb2l4SUMrSzy/view" target="_blank" class="resume-btn">
      <p class="resume-btn__text">DOWNLOAD CV</p>
  </a>    
  </div>
  </div>
  </div>
</section>