<footer class="contacts" id="contacts">
  <div class="contact__wrapper">
    <div class="wrapper">
      <h2 class="contact__title">Contacts:</h2>
      <a class="contact__link" href="tel:+380975383940">
        <svg class="social__icon" width="24" height="24">
          <use href="./images/sprite.svg#phone"></use>
        </svg>
        <p class="contact__phone">+38 (097) 538 39 40</p>
      </a>
      <a class="contact__link" href="mailto:dzhuraievrustem@gmail.com">
        <svg class="social__icon" width="24" height="24">
          <use href="./images/sprite.svg#mail"></use>
        </svg>
        <p class="contact__email">azaliya939@gmail.com</p>
      </a>
      <a class="contact__link" href="https://www.google.com/maps/d/embed?mid=1gNN4e6hMoBdcJdWmm6ONME5j1fc&ehbc=2E312F" width="640" height="480"">
        <svg class="social__icon" width="24" height="24">
          <use href="./images/sprite.svg#location"></use>
        </svg>
        <p class="contact__phone">Ukraine, Kyiv</p>
      </a>

      <div class="socials_btn">

        <ul class="socials__footer">
        <li class="socials__list-footer">
          <a href="https://github.com/Tetiana-Shev" class="socials__btn-footer" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/sprite.svg#github"></use></svg>
          </a>
        </li>
        <li class="socials__list-footer">
          <a href="https://www.linkedin.com/in/tetiana-shevchenko-41351325a/" class="socials__btn-footer" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/sprite.svg#linkedin"></use></svg>
          </a>
        </li>
        <li class="socials__list-footer">
          <a href="https://t.me/tetiana_shev4" class="socials__btn-footer" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/sprite.svg#telegram"></use></svg>
          </a>
        </li>
        <li class="socials__list-footer">
          <a href="viber://contact?number=%2B380975383940" class="socials__btn-footer" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/sprite.svg#viber"></use></svg>
          </a>
        </li>
        <li class="socials__list-footer">
          <a href="https://wa.me/380975383940" class="socials__btn-footer" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/sprite.svg#whatsapp"></use></svg>
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</footer>