<section class="portfolio" id="portfolio">
  <div class="wrapper">
    <h2 class="portfolio__title">
      Projects:
    </h2>
    <!-- <p class="portfolio__filter">
      All projects -->
      <!-- <svg width="19" height="19">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg> -->
    <!-- </p> -->
    <div class="splide" id="slider1"  role="group" aria-label="slide of my experiance">
      <div class="splide__track">
        <ul class="splide__list">
                   
          <li class="splide__slide">
            <a class="card__link" href="https://tetiana-shev.github.io/Filmoteka/" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  Filmoteka
                </p>

                <!-- <picture>
                  <source
                  media="(min-width: 1400px)"
                  srcset="
                  ./images/film.jpg, 
                  ./images/film@2x.jpg"
                  >
                  <img 
                  src="./images/film.jpg" 
                  alt="Фильмотека"
                  class="card__img"
                  width="280"
                  height="300"
                  >
                </picture> -->

                <!-- <svg class="card__icon-arrow" width="19" height="19">
                  <use href="./images/icons.svg#icon-arrow-up"></use>
                </svg> -->

                <picture>
                  <source
                    srcset="./images/film@2x.jpg 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/film.jpg 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/film.jpg 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="filmoteka"
                    src="./images/film.jpg"
                    alt="filmoteka-desktop"
                    
                  />
                </picture>

                <div class="discr__wrapper">
                  <p class="discr__text">
                    Filmoteka is a team project. This application shows the latest movies, you can watch the trailer. In your personal account, there is an opportunity to postpone films for future viewing. To create this application, our team used technologies such as: HTML, CSS, SASS, JavaScript, Notiflix, Firebase, Node.js, Axios, Parcel, etc.
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li class="splide__slide">
            <a class="card__link" href="https://tetiana-shev.github.io/goit-markup-hw-08/" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  Web-studio
                </p>

                <!-- <picture>
                  <source
                  media="(min-width: 1400px)"
                  srcset="
                  ./images/Web.jpg, 
                  ./images/Web@2x.jpg"
                  >
                  <img 
                  src="./images/Web.jpg" 
                  alt="Разработка web-сайтов"
                  class="card__img"
                  width="300"
                  height="224"
                  >
                </picture> -->
                <!-- <svg class="card__icon-arrow" width="19" height="19">
                  <use href="./images/icons.svg#icon-arrow-up"></use>
                </svg> -->

                <picture>
                  <source
                    srcset="./images/Web@2x.jpg 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/Web.jpg 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/Web.jpg 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="card__img"
                    src="./images/Web.jpg"
                    alt="portfolio WEB-studio"
                  />
                </picture>

                <!-- <picture>
                  <source
                    srcset="./images/portfolio-webstudio-desktop-mini.png 143w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 143px"
                  />
                  <source
                    srcset="./images/portfolio-webstudio-tablet-mini.png 161w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 161px"
                  />
                  <source
                    srcset="./images/portfolio-webstudio-mobile-mini.png 70w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 70px"
                  />
                  <img
                    class="card__img--small"
                    src="./images/portfolio-webstudio-mobile-mini.png"
                    alt="portfolio WEB-studio"
                  />
                </picture> -->

                <div class="discr__wrapper">
                  <p class="discr__text">
                    Used technologies: HTML/CSS. The styles are written according to the BEM methodology using the SASS preprocessor. The site is adapted for mobile, tablet and desktop devices. The Mobile First strategy is used.
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li class="splide__slide">
            <a class="card__link" href="https://tetiana-shev.github.io/IceCream/" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  IceCream
                </p>

                <!-- <picture>
                  <source
                  media="(min-width: 1400px)"
                  srcset="
                  ./images/Ice.jpg, 
                  ./images/Ice@2x.jpg"
                  >
                  <img 
                  src="./images/Ice.jpg" 
                  alt="Сайт мороженого"
                  class="card__img"
                  width="280"
                  height="300"
                  >
                </picture> -->
                <!-- <svg class="card__icon-arrow" width="19" height="19">
                  <use href="./images/icons.svg#icon-arrow-up"></use>
                </svg> -->

                <picture>
                  <source
                    srcset="./images/Ice@2x.jpg 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/Ice.jpg 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/Ice.jpg 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="card__img"
                    src="./images/Ice.jpg"
                    alt="portfolio icecreame"
                  />
                </picture>

                <!-- <picture>
                  <source
                    srcset="./images/portfolio-icecreame-desktop-mini.png 143w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 143px"
                  />
                  <source
                    srcset="./images/portfolio-icecreame-tablet-mini.png 161w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 161px"
                  />
                  <source
                    srcset="./images/portfolio-icecreame-mobile-mini.png 70w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 70px"
                  />
                  <img
                    class="card__img--small"
                    src="./images/portfolio-icecreame-mobile-mini.png"
                    alt="portfolio icecreame"
                  />
                </picture> -->

                <div class="discr__wrapper">
                  <p class="discr__text">
                    IceCream is a team project. I was the Scrum Master on this project. The site is adapted for mobile, tablet and desktop devices. HTML/CSS, BEM methodology and SASS preprocessor, Parcel project constructor were used.
                  </p>
                </div>
              </div>
            </a>
          </li>
          <!-- <li class="splide__slide">
            <a class="card__link" href="https://rustdzhur.github.io/goit-js-hw-11" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  Image search <br />
                  engine
                </p> -->
                <!-- <svg class="card__icon-arrow" width="19" height="19">
                  <use href="./images/icons.svg#icon-arrow-up"></use>
                </svg> -->

                <!-- <picture>
                  <source
                    srcset="./images/portfolio-searchengine-desktop.png 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/portfolio-searchengine-tablet.png 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/portfolio-searchengine-mobile.png 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="card__img--big"
                    src="./images/portfolio-searchengine-mobile.png"
                    alt="portfolio searchengine"
                  />
                </picture> -->

                <!-- <picture>
                  <source
                    srcset="
                      ./images/portfolio-searchengine-desktop-mini.png 143w
                    "
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 143px"
                  />
                  <source
                    srcset="
                      ./images/portfolio-searchengine-tablet-mini.png 161w
                    "
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 161px"
                  />
                  <source
                    srcset="./images/portfolio-searchengine-mobile-mini.png 70w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 70px"
                  />
                  <img
                    class="card__img--small"
                    src="./images/portfolio-searchengine-mobile-mini.png"
                    alt="portfolio searchengine"
                  />
                </picture> -->

                <!-- <div class="discr__wrapper">
                  <p class="discr__text">
                    In this project, a search engine was implemented to search
                    for images. Images are searched for by request to the
                    Pixabay image server. The whole project is built on the
                    parcel collector, as well as using the axios and notiflix
                    libraries
                  </p>
                </div> -->
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>