<section class="portfolio" id="portfolio">
  <div class="wrapper">
    <h2 class="portfolio__title">
      Projects:
    </h2>

    <div class="splide" id="slider1"  role="group" aria-label="slide of my experiance">
      <div class="splide__track">
        <ul class="splide__list">
                   
          <li class="splide__slide">
            <a class="card__link" href="https://tetiana-shev.github.io/Filmoteka/" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  Filmoteka
                </p>

                <picture>
                  <source
                    srcset="./images/film@2x.jpg 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/film.jpg 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/film.jpg 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="filmoteka"
                    src="./images/film.jpg"
                    alt="filmoteka-desktop"
                    
                  />
                </picture>

                <div class="discr__wrapper">
                  <p class="discr__text">
                    Filmoteka is a team project. This application shows the latest movies, you can watch the trailer. In your personal account, there is an opportunity to postpone films for future viewing. To create this application, our team used technologies such as: HTML, CSS, SASS, JavaScript, Notiflix, Firebase, Node.js, Axios, Parcel, etc.
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li class="splide__slide">
            <a class="card__link" href="https://tetiana-shev.github.io/goit-markup-hw-08/" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  Web-studio
                </p>

                <picture>
                  <source
                    srcset="./images/Web@2x.jpg 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/Web.jpg 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/Web.jpg 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="card__img"
                    src="./images/Web.jpg"
                    alt="portfolio WEB-studio"
                  />
                </picture>

                <div class="discr__wrapper">
                  <p class="discr__text">
                    Used technologies: HTML/CSS. The styles are written according to the BEM methodology using the SASS preprocessor. The site is adapted for mobile, tablet and desktop devices. The Mobile First strategy is used.
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li class="splide__slide">
            <a class="card__link" href="https://tetiana-shev.github.io/IceCream/" target="_blank">
              <div class="card__wrapper">
                <p class="card__title">
                  IceCream
                </p>

                <picture>
                  <source
                    srcset="./images/Ice@2x.jpg 529w"
                    media="(min-width: 1400px)"
                    sizes="(min-width: 1400px) 529px"
                  />
                  <source
                    srcset="./images/Ice.jpg 594w"
                    media="(min-width: 780px)"
                    sizes="(min-width: 780px) 594px"
                  />
                  <source
                    srcset="./images/Ice.jpg 259w"
                    media="(min-width: 320px)"
                    sizes="(min-width: 320px) 259px"
                  />
                  <img
                    class="card__img"
                    src="./images/Ice.jpg"
                    alt="portfolio icecreame"
                  />
                </picture>

                <div class="discr__wrapper">
                  <p class="discr__text">
                    IceCream is a team project. I was the Scrum Master on this project. The site is adapted for mobile, tablet and desktop devices. HTML/CSS, BEM methodology and SASS preprocessor, Parcel project constructor were used.
                  </p>
                </div>
              </div>
            </a>
          </li>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>