<section class="skills" id="skills">
  <div class="wrapper">

    <div class="hard-skills__container">
        <p class="title-skills">
            Hard skills:
          </p>
          <div class="btn-hardskills__container">
            <div class="icon-container">
                <div class="html">
                  <button class="html__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#html5">
                      </use>
                      <p class="html__text">HTML</p>
                    </svg>
                  </button>
                </div>
          
                <div class="css">
                  <button class="css__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#css3">
                      </use>
                      <p class="css__text">CSS</p>
                    </svg>
                  </button>
                </div>
          
                <div class="js">
                  <button class="js__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#javascript">
                      </use>
                      <p class="js__text">JavaScript</p>
                    </svg>
                  </button>
                </div>
          
                <div class="responsive">
                  <button class="responsive__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#resize">
                      </use>
                    </svg>
                    <p class="responsive__text">Responsive / Adaptive</p>
                  </button>
                </div>
          
                <div class="git">
                  <button class="git__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#git">
                      </use>
                    </svg>
                    <p class="git__text">GIT</p>
                  </button>
                </div>

                <div class="webpack">
                  <button class="webpack__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#webpack">
                      </use>
                    </svg>
                    <p class="webpack__text">Webpack</p>
                  </button>
                </div>

                <div class="parcel">
                  <button class="parcel__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/sprite.svg#box">
                      </use>
                    </svg>
                    <p class="parcel__text">Parcel</p>
                  </button>
                </div>
              </div>
        </div>
          </div>
          
   <div class="soft-skills__container">
    <p class="title-soft-skills">
        Soft skills:
    </p>
    <div class="soft-skills__list-box-tablet">
        <ul class="soft-skills__list">
          <li class="soft-skills__item">Scrum</li>
          <li class="soft-skills__item">Attention to detail</li>
          <li class="soft-skills__item">Hardworking</li>
          <li class="soft-skills__item">Teamwork</li>
        </ul>
    </div>

    <div class="soft-skills__list-box-dectop">
        <ul class="soft-skills__list">
            <li class="soft-skills__item">Scrum</li>
            <li class="soft-skills__item">Attention to detail</li>
            <li class="soft-skills__item">Hardworking</li>
            <li class="soft-skills__item">Teamwork</li>
        </ul>
    </div>
   </div>
    
  </div>
</section>